<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>recando - memoir for your life</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://s3-us-west-2.amazonaws.com/recando/Landing/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="https://s3-us-west-2.amazonaws.com/recando/GroProDash/css/clean-blog.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/prodash">recando</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a type="button" data-toggle="modal" data-target=".joinclub">join club</a>
                    </li>
                    <li>
                        <a type="button" data-toggle="modal" data-target=".createclub">create club</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ club.name }}</h1>
                        <hr class="small">
                        <span class="subheading">{{ club.tagline }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
              <a type="button" data-toggle="modal" data-target=".createpost" class="btn btn-primary">Create New Post</a>
                <div class="post-preview">
                  {% for post in posts %}
                        <a href="/post/{{ post.pk }}"><h2 class="post-title">
                            {{ post.title }}
                        </h2></a>
                      <p><strong>Author: </strong><i>{{ post.username }}</i></h4>
                      <a style="text-decoration: none;" href="/post/{{ post.pk }}"><p class="post-subtitle">
                          {{ post.question_text|slice:":300" }}...
                      </p></a>
                      <hr>
                    {% endfor %}
                </div>

        </div>
        <div class="col-md-4">
          <h4>Members in Club:</h4>
          <ul>
          {% for ouser in user_list %}
            <li>{{ ouser }}</li>
          {% endfor %}
        </ul>
        </div>

    </div>
  </div>

    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <p class="copyright text-muted">Copyright &copy; Daniel Lundergreen 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://s3-us-west-2.amazonaws.com/recando/Landing/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://s3-us-west-2.amazonaws.com/recando/Landing/js/bootstrap.min.js"></script>


    <!-- Modals for creating and joining Clubs -->
    <div class="modal fade createclub">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="container">
            <div class="col-sm-12">
              <h2>Create a New Club</h2>
              <form id="createclub">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Club Name"></br></br>
                <input type="text" name="tagline" placeholder="Club Tagline"></br></br>
                <input type="text" name="password" placeholder="Club Password"></br></br>
                <input type="submit" class="btn btn-primary" value="Create" /></br>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade joinclub" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="container">
            <div class="col-sm-12">
              <h2>Join Club</h2>
              <form id="joinclub">
                {% csrf_token %}
                <input type="text" name="clubname" placeholder="Club Name"></br></br>
                <input type="password" name="password" placeholder="Club Password"></br></br>
                <input type="submit" class="btn btn-primary" value="Join Club" /></br>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade createpost" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="container">
            <div class="col-sm-12">
              <h2>Create New Post</h2>
              <form id="createpost">
                {% csrf_token %}
                <input type="text" name="title" placeholder="Title"></br></br>
                <h4>Story:</h4>
                <textarea name="question_text" form="createpost">Enter story here...</textarea>
                <input type="hidden" name="club_id" value="{{ club.pk }}"></br></br>
                <input type="submit" class="btn btn-primary" value="Create Post" /></br>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
        $(function(){
            $('#createclub').on('submit', function(e){
                e.preventDefault();
                $.ajax({
                    url: '/creategroup/',
                    type: 'POST',
                    data: $('#createclub').serialize(),
                    success: function(data){
                      window.location.replace("/prodash/");
                    }
                });
            });
        });
        $(function(){
            $('#joinclub').on('submit', function(e){
                e.preventDefault();
                $.ajax({
                    url: '/joingroup/',
                    type: 'POST',
                    data: $('#joinclub').serialize(),
                    success: function(data){
                      window.location.replace("/prodash/");
                    }
                });
            });
        });
        $(function(){
            $('#createpost').on('submit', function(e){
                e.preventDefault();
                $.ajax({
                    url: '/createpost/',
                    type: 'POST',
                    data: $('#createpost').serialize(),
                    success: function(data){
                      window.location.reload();
                    }
                });
            });
        });
    </script>

</body>

</html>
